/* always present */
.expand-transition {
  transition: all .3s ease-out;
  padding: 1.6em;
  width: 50%;
  overflow: hidden;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.expand-enter, .expand-leave {
  width: 0;
  padding: 1.6em 0;
}