.expand-transition {
  transition: all .3s ease-out;
  padding: 3.2em;
  width: 50%;
  overflow: hidden;
  @media screen and (max-width: 400px) {
  	width: 75%;
  }
}

.expand-enter, .expand-leave {
  right: -50%;
  @media screen and (max-width: 400px) {
  	right: -75%;
  }
}