input[type="text"] {
	border: 0;
	border-bottom: 3px solid $light-purple;
	background: transparent;
	color: $secondary-font-color;
	outline: none;
	display: block;
	margin: 1.6em auto 0.8em;
	text-align: center;
}

input[type="submit"] {
	color: $secondary-font-color;
	background: $light-purple;
	outline: none;
	padding: 0.8em 1.6em;
	border: 0;
	border-radius: 1.6em;
}

button {
	color: $secondary-font-color;
	border: 0;
	background: none;
}