input[type="text"] {
	border: 0;
	border-bottom: 3px solid $light-purple;
	background: transparent;
	color: $secondary-font-color;
	outline: none;
	display: block;
	margin: 1.6em auto 0.8em;
	text-align: center;
}

input[type="submit"] {
	color: $secondary-font-color;
	background: $light-purple;
	outline: none;
	padding: 0.8em 1.6em;
	border: 0;
	border-radius: 1.6em;
	cursor: pointer;
	&:hover {
		background: rgba(255,255,255,0.2);
	}
}

button {
	color: $secondary-font-color;
	border: 0;
	background: none;
	cursor: pointer;
	outline: none;
	transition: all .3 ease out;
	&:hover {
		color: $main-font-color;
	}
}

.incorrect {
	color: #D64541 !important;
}

.correct {
	color: $green !important;
}

.progress-circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(90deg);
	z-index: -10;
}

.progress {
	stroke-dasharray: 1255;
	//stroke-dashoffset: 0;
	transition: all .3s ease-in-out;
	animation: loadProgress 1.2s ease-in-out;
}

.next-btn {
	padding: 0.8em 1.6em;
}

li {
	margin-bottom: 0.8em;
	text-indent: -20px;
	&::before {
		position: relative;
		content: '—';
		left: -8px;
		color: $secondary-font-color;
	}
}

@keyframes loadProgress {
	from {
		stroke-dashoffset: 1255;
	} to {
		stroke-dashoffset: 0;
	}
}