// bower:scss
// endbower

//Globals
$dark-purple: #454657;
$light-purple: rgba(255,255,255,0.1);
$main-font-color: #fff;
$secondary-font-color: rgba(255,255,255,0.8);
$green: #37DF40;

@import "reset";
@import "typography";
@import "layout";
@import "ui";
@import "transitions";